.header {
  height: 50px;
  background-color: #87ceeb;
  padding-left: 300px;
  font-size: 20px;
  font-weight:700;
  line-height: 50px;
  letter-spacing: 1px;
}

.contents {
  margin: 20px 300px;
  font-size: 15px;
  letter-spacing: 1px;
}

.contents table {
  border-collapse: collapse;
}

.contents table td{
  padding: 5px 18px;
  border: solid 1px grey;
}

.contents h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size:20px;
  font-weight:700;
}

.contents .pict {
  max-height: 280px;
  height: 100%;
}

.contents .profPict {
  max-height: 200px;
  height: 100%;
}

.footer {
  height: 50px;
  background-color: #87ceeb;
}

  @media screen and (max-width: 1000px) {
    .header {
      padding-left: 40px;
      font-size: 40px;
    }
    .contents {
      margin: 40px;
      font-size: 34px;
    }
    .contents h2 {
      font-size: 45px;
    }
    .contents .pict {
      max-height: 600px;
      height: 100%;
    }
    .contents .profPict {
      max-height: 400px;
      height: 100%;
    }
  }
